/*
 THIS CODE IS MADE BY MOHAMED ELENANY (M7MDY9) AND IS NOT AUTHORIZED TO BE USED WITHOUT HIS PERMISSION. 
 FOR MORE INFO VIEW LICENSE FILE - 2025 © MOHAMED ELENANY
*/
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../fonts/inter/Inter-VariableFont_opszwght.ttf");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('../fonts/inter/Inter-Italic-VariableFont_opszwght.ttf');
  }
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-VariableFont_wdthwght.ttf') format('truetype');
    font-weight: 100 900; 
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Italic-VariableFont_wdthwght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}
html {
    font-size: 1vh;
    scroll-behavior: auto !important;
}
html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0c0c0c;
}
body, html {
    margin: 0;
    padding: 0;
}
* {
    color: white
}

[data-scroll-container] {
    max-width: 100vw;
    overflow: hidden;
}
/* #smooth-wrapper {
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
    max-width: 100vw;} */
.header_div {
    max-width: 100vw;
    min-height: 100vh;
    display: block;
    position: relative;
    perspective: 1000px;
}
#scroll_prompt {
    position: absolute;
    bottom: 3.25em;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-family: 'Inter';
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 3rem;
    background: #42424288;
    border-radius: 1.2em;
    padding: 0.5em 1em;
    text-wrap-mode: nowrap;
    opacity: 0;
    pointer-events: none;
    animation: bounce 2s infinite;
    transition: opacity 0.3s ease;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateX(-50%) translateY(0);
    }
    40% {
      transform: translateX(-50%) translateY(-10px);
    }
    60% {
      transform: translateX(-50%) translateY(-5px);
    }
}

.ai_def_div {
    min-height: 92vh;
    padding-left: 5vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#ai_def_text {
    width: 50vw;   
}
#ai_def_head{
    transform: translateY(-20.5px);
    text-wrap-mode: wrap;
    font-family: "Roboto";
    font-weight: 800;
    font-size: 4.5rem;
}
.AI_span_head {
    font-weight: 800;
    color: #3c97ff;
}
.AI_span {
    color: white;
    font-weight: 600;
}
.ai_span_weight_1 {
    color: white;
    font-weight: 600;
}
.ai_span_m_learn,.ai_span_d_learn ,.ai_span_tensor{
    color:#e4354c;
    font-weight: 800;
}
.ai_span_human {
    font-weight: 800;
    color: #51ee66;
    white-space: nowrap;
}
.ai_span_learn {
    font-weight: 800;
    color: #f58240;
}
.ai_span_cv, .ai_span_ntp {
    font-weight: 800;
    color: #f3d427;
}
.ai_span_decision, .light_red {
    color: #f0495f;
    font-weight: 800;
}
.ai_span_nv_main, .nv_span_main {
    color: #34db42;
    font-weight: 800;
}
.ai_span_nv {
    color: white;
    font-weight: 600;
}
#ai_def_p {
    color: #cacaca;
    transform: translateY(-20.5px);
    font-family: "Inter", sans-serif;
    font-weight: 450;
    font-size: 3rem;
}

#ai_def_img_div {
    width: 50%;
    transform: translateY(50px);
    padding-left: 0.31vw;
    padding-right: 0.2vw
}
#ai_def_img {
    width: 95%;
    height: auto;
}

.change-lang {
    position: absolute;
    z-index: 99999;
    display: inline;
    width: 100vw;
    height: 20vh;
}
#change-lang-text {
    font-size: 3rem;
    position: absolute;
    top: 7%;
    right: 5%;
    text-decoration: none;
    /* color: #3b3b3b; */
    cursor: pointer;
    /* transition: filter 0.15s ease-in; */
}
#change-lang-img {
    width: auto;
    height: 8vh;
    transition: filter 0.25s ease-in, transform 0.25s ease-in;
}
#change-lang-img:hover {
    filter: invert(1) brightness(3);
    transform: scale(1.1);
}
/* #change-lang-text:hover {
    transform: scale(1.1);
} */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100vh;
}

#header_1 {
    padding-inline: 10px;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 10rem;
    color: whitesmoke;
    text-align: center;
    opacity: 0;
    transform: translateY(50px)

}
#small_header{
    font-family: "Inter", sans-serif;
    font-weight: 850;
    font-size: 3rem;
    color: whitesmoke;
    text-align: center;
    opacity: 0;
    transform: translateY(50px)
}
#NVIDIA_head {
    height: auto;
}
#NVIDIA_header {
    text-align: center;
    color: white;
    padding-inline: 5%;
    font-family: "Inter";
    font-weight: 700;
    font-size: 7rem;
}
#NVIDIA_text {
    padding-inline: 6.5%;
    margin: 0 auto;
    color: #cacaca;
    font-family: "Inter", sans-serif;
    font-weight: 450;
    font-size: 3.2rem;
    width: 70vw;
}
#NVIDIA_3D_div {
    /* background: linear-gradient(to bottom, #0c0c0c, #000000 10%); */
    background: linear-gradient(to bottom, #0c0c0c, #000 5%);
    height: 537vh;
}
#NVIDIA_3D_header {
    padding-top: 20%;
    text-align: center;
    padding-inline: 5%;
    color: white;
    font-family: "Inter";
    font-weight: 700;
    font-size: 7.5rem;
}
/* .break_div {
    width: auto;
    height: 15vh;
} */
#NVIDIA_3D_model {
    /* top: 50%; */
    /* padding-top: 15vh; */
    display: block;
    min-height: 425vh;
    position: sticky;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    text-align: center;
    transition: opacity 0.5s ease-in;
}
#videoSection {
    padding-top: 15vh;
    padding-bottom: 2vh;
}
.last_no_anims {
    padding-bottom: 8vh;
}
.NVIDIA_no_anims {
    padding-top: 15vh;
    opacity: 0;
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-out;
}
.models_no_anims {
    height: 110vh;
}
.no_anims_header {
    position: static;
    padding-inline: 2.5%;
    font-size: 3.5rem;
    /* height: 3em; */
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-wrap-mode: wrap;
    padding-bottom: 0.25vh;
}
.no_anims_img {
    position: static;
    padding-inline: 5vw;
    width: 60vw;
    height: auto;
}
#small_img {
    position: static;
    padding-inline: 5vw;
    width: 60vw;
    height: auto;
}
#changing {
    padding-inline: 10%;
    font-size: 3.5rem;
    height: 3em;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    transition: opacity 0.5s ease-in;
    text-wrap-mode: wrap;
}
#aiBreakdown {
    width: auto;
    height: 65rem;
    border-radius: 1%;
}
.model_switch {
    text-align: center;
    z-index: 999;
    position: absolute;
    transform: translateY(-2vh);    
    /* width: auto; */
    right: 2vh;
    display: flexbox;
    align-items: center;
    justify-content: center;
}
#toggle_text {
    font-family: "Roboto", sans-serif;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 3rem;
    transform: translateY(3vh);
    padding-bottom: 2vh;
}
.info-container {
    display: none;
    width: auto;
    padding-top: 5vh 1rem;
    position: absolute;
    z-index: 99;
    left: 50%;
    /* top: 50%; */
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
  
  .info-icon {
    font-weight: 600;
    font-family: "Inter", "Roboto", sans-serif;
    font-size: 3rem;
    color: rgb(48, 93, 190);
    border: solid 0.5rem rgb(48, 93, 190);
    background-color: transparent;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.info-message {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: calc(100% + 1rem);
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(51, 51,51, 0.8);    
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 3rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    max-width: 80vw;
    width: 69vw;
    /* text-wrap-mode: wrap; */
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.2s ease, visibility 0.2s ease;
    /* backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
}
  
.info-message::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}
  
.info-container.show-message .info-message {
    opacity: 1;
    visibility: visible;
}
  
.switch {
    position: relative;
    display: inline-block;
    width: 15vh;
    height: 6vh;
    background: #1fa10e;
    border-radius: 34px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
.slider {
position: absolute;
height: 4.5vh;
width: 4.5vh;
left: 0.7vh;
top: 50%;
transform: translateY(-50%);
background: white;
border-radius: 50%;
transition: all 0.3s ease;
}

.hidden-checkbox:checked + .switch {
background: #b93e3e;
}

.hidden-checkbox:checked + .switch .slider {
transform: translateY(-50%) translateX(9.4vh)
}

.hidden-checkbox {
display: none;
}
/* #after_3d {

} */
.container {
    padding-top: 10vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-inline: 2vw;
    position: relative;
}
/* #ar {
    right: 45.5%;
} */
.ai_evo_container {
    background: linear-gradient(to bottom, #000, #0c0c0c 2.5%);
    padding-top: 20vh;
    padding-bottom: 10vh;
}
.card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 50%;
    padding: 2vw;
    border: 0.1vh solid rgb(0, 0, 0);
    border-radius: 8px;
    background: #1a1a1a;
    position: relative;
}

.img_card {
    width: 35%;
}
.info_img_text{
    padding-top: 1vh;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: #b4b4b4;
    text-align: center;
    margin: 0 auto;
    /* text-wrap-mode: wrap; */
}
.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
  
.card-content {
    width: 60%;
    font-family: "Inter", sans-serif;
}
  
.card-content h3 {
    margin: 0;
    font-weight: 800;
    font-size: 4.5rem;
    color: white;
}
  
.card-content p {
    margin: 0;
    padding-top: 1vh;
    font-size: 2.5rem;
    font-weight: 600;
    color: #e0e0e0;
    text-wrap-mode: wrap;
}
.card:nth-child(odd) {
    left: 0;
}
  
.card:nth-child(even) {
    left: 50%;
}
.arcard img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.arcard {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 50%;
    padding: 2vw;
    border: 0.1vh solid rgb(0, 0, 0);
    border-radius: 8px;
    background: #1a1a1a;
    position: relative;
}

.arcard:nth-child(odd) {
    right: 0;
}
  
.arcard:nth-child(even) {
    right: 50%;
}
#ai_evo {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 7rem;
    text-align: center;
    margin: 0;
    margin-bottom: 3vh;
}
.conclusion {
    padding-top: 10vh;
    padding-inline: 5vw;
}
#conc_header {
    font-size: 7rem;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
}
#conc_p {
    font-size: 3.5rem;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: rgb(238, 238, 238);
}
.footer {
    margin-top: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0.25vh 0;
    background-color: #111111;
    border-top: #2b2b2b solid 0.5vh;
    width: 100%;
}
.footer-content {
    color: rgb(146, 146, 146);
}
#footer_p {
    color: rgb(236, 236, 236);
    text-align: center;
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
.footer_link{
    width: auto;
    display: block;
    padding-bottom: 2vh;
    color: rgb(146, 146, 146);
    text-align: center;
    font-size: 2.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.35 ease-in;
    transition: transform 0.5s ease;
}
.footer_link:hover {
    color: #ffffff;
    transform: scale(1.1);
}
.footer a {
    text-decoration: none;
    color: hsl(0, 0%, 57%);
    transition: color 0.35 ease-in;
}
.footer a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
/*
 THIS CODE IS MADE BY MOHAMED ELENANY (M7MDY9) AND IS NOT AUTHORIZED TO BE USED WITHOUT HIS PERMISSION. 
 FOR MORE INFO VIEW LICENSE FILE - 2025 © MOHAMED ELENANY
*/